.about {
  text-align: left;

  background-color: @blue;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.about__container {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
}

.about__title {
  .title();
}

.about__desc {
  font-weight: 300;

  &--bold {
    font-weight: 700;
  }
}
