.about {
  position: relative;
  text-align: left;

  background-color: @blue;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  z-index: 6;
}

.about__container {
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/about-mobile@2x.png");
    background-size: 292px auto;
  }
}

.about__wrapper {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 35px;
  padding-bottom: 70px;
}

.about__title {
  .title();
}

.about__desc {
  font-weight: 300;

  &--bold {
    font-weight: 700;
  }
}

.about__learn-more {
  display: none;
}

@media (min-width: @tablet-width) {
  .about {
    border-radius: 50px;
  }

  .about__container {
    background-image: url("../img/about-tablet@1x.png"), url("../img/rectangle.svg");
    background-position: right 10px bottom 87px, top left;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/about-tablet@2x.png"), url("../img/rectangle.svg");
      background-size: 376px auto, 688px auto;
    }
  }

  .about__wrapper {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 85px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .about__desc {
    width: 50%;

    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    margin-top: 0;
  }

  .about__desc--bold {
    margin-bottom: 50px;
    margin-top: 8px;

    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
  }

  .about__learn-more {
    display: block;
    width: 275px;
    padding: 30px 35px;
  }
}

@media (min-width: @desktop-width) {
  .about__container {
    background: url("../img/about-desktop@1x.png") right 60px bottom;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
      background-size: 630px auto;
    }
  }

  .about__wrapper {
    padding-top: 90px;
    padding-bottom: 162px;
    padding-left: 70px;
  }

  .about__title {
    position: relative;
    margin-bottom: 60px;

    &::after {
      content: "";

      position: absolute;
      width: 213px;
      height: 213px;
      top: -55px;
      left: -70px;

      background-color: #141b3b;
      border-radius: 20px;

      z-index: -1;
    }
  }

  .about__desc {
    width: 51%;
  }

  .about__desc--bold {
    width: 410px;
    margin-bottom: 85px;
    margin-top: 10px;
  }
}
