.add-plan {
  padding-top: 10px;

  color: @blue;

  background-color: #d4d9eb;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.add-plan__step {
  padding: 25px;
  margin-bottom: 10px;

  background-color: @white;
  border-radius: 10px;
}

.add-plan__steps-list {
  display: none;
}

.add-plan__steps-link {
  color: @blue;
  text-decoration: none;
  text-transform: uppercase;
}

.add-plan__step-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.add-plan__step-title span {
  display: block;
}

.add-plan__desc {
   font-size: 16px;
   line-height: 22px;
   color: #444444;
   text-align: left;
}

.add-plan__next {
  display: block;
  width: 100%;
  padding: 8px 10px;

  &:active {
    background-image: none;
  }
}

@media (min-width: @desktop-width) {
  .add-plan__steps-list {
    display: flex;
    flex-direction: column;
  }

  .add-plan__buddy-criteria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .add-plan__buddy-numbers {
    width: 50%;
  }

  .add-plan__intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .add-plan__intro-wrapper {
    display: flex;
    flex-direction: column;
  }
}
