.add-plan {
  padding-top: 10px;
  margin-top: -25px;
  padding-bottom: 65px;

  color: @mid-blue;

  background-color: #d4d9eb;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.add-plan__step {
  width: 270px;
  padding: 25px;
  margin-bottom: 10px;

  background-color: @white;
  border-radius: 10px;
}

.add-plan__steps-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.add-plan__title {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 30px;

  color: @mid-blue;
}

.add-plan__steps-list {
  .nolist();
}

.add-plan__steps-list--bottom {
  display: none;
}

.add-plan__steps-list--top {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;

  font-size: 0;
}

.add-plan__steps-list--top .add-plan__steps-link {
  position: relative;
  padding-left: 20px;

  &::before {
    content: "";

    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 0;

    background-color: rgba(128, 130, 133, 0.3);
    border-radius: 50%;

    cursor: pointer;
  }
}

.add-plan__steps-list .add-plan__steps-link--active::before {
  background-color: @mid-blue;

  cursor: default;
}

.add-plan__steps-link {
  color: @blue;
  text-decoration: none;
  text-transform: uppercase;
}

.add-plan__step-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @mid-blue;
}

.add-plan__step-title span {
  display: block;
}

.add-plan__desc {
   font-size: 16px;
   line-height: 22px;
   color: #444444;
   text-align: left;
}

.add-plan__next {
  display: block;
  width: 100%;
  padding: 8px 10px;

  &:active {
    background-image: none;
  }
}

.add-plan__next--back {
  margin-top: 10px;

  background-color: transparent;

  &:hover {
    background-color: transparent;
    opacity: 0.7;
  }

  &:active {
    background-color: transparent;
    opacity: 0.9;
  }
}

.add-plan__submit {
  width: 100%;
  padding: 8px 10px;

  border: none;
  box-shadow: none;
  cursor: pointer;

  &:active {
    background-image: none;
  }
}

.add-plan__step--two-buttons {
  padding-bottom: 8px;
}
@media (min-width: @tablet-width) {
  .add-plan {
    padding-bottom: 40px;
  }

  .add-plan__step {
    width: 618px;
    padding: 45px;
    margin-bottom: 50px;

    border-radius: 30px;
  }

  .add-plan__steps-wrapper {
    width: 618px;
  }

  .add-plan__title {
    font-size: 36px;
    line-height: 50px;
  }

  .add-plan__step-title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
  }

  .add-plan__desc {
    font-size: 20px;
    line-height: 24px;
  }

  .add-plan__next {
    width: 50%;
    padding: 25px 30px;

    color: @mid-blue;

    text-align: left;
    text-transform: none;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: top 50% right 30px;
    background-size: 10px 20px;

    &:active {
      color: rgba(29, 46, 91, 0.3);
      background-image: url("../img/triangle-arrow-right-opacity.svg");
    }
  }

  .add-plan__steps-list--top .add-plan__steps-link {
    padding-left: 40px;
  }

  .add-plan__btns-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .add-plan__next--back {
    width: 40%;
    margin-top: 0;
    padding-right: 0;

    text-align: right;

    background-image: url("../img/triangle-arrow-left.svg");
    background-position: top 50% left 30px;

    &:active {
      color: rgba(29, 46, 91, 1);
      background-image: url("../img/triangle-arrow-left.svg");
      opacity: 0.3;
    }
  }

  .add-plan__submit {
    width: 285px;
    padding: 25px 30px;
    margin-top: 0;

    color: @mid-blue;
    text-transform: none;
    text-align: left;

    border-radius: 20px;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: top 50% right 30px;
    background-size: 10px 20px;

    &:active {
      color: rgba(29, 46, 91, 0.3);
      background-image: url("../img/triangle-arrow-right-opacity.svg");
    }
  }
}

@media (min-width: @desktop-width) {
  .add-plan__step {
    width: 1320px;
    padding: 100px 160px;

    border-radius: 60px;
  }

  .add-plan__step-title span {
    display: inline-block;
    vertical-align: bottom;
  }

  .add-plan__steps-list--bottom {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top: 15px;
  }

  .add-plan__steps-list--bottom .add-plan__steps-link {
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    display: block;

    font-size: 20px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.6);

    &::before {
      content: "";

      position: absolute;
      display: block;
      width: 5px;
      height: 5px;
      top: 5px;
      left: 0;

      background-color: rgba(128, 130, 133, 0.3);
      border-radius: 50%;

      cursor: pointer;
    }
  }

  .add-plan__steps-list--bottom .add-plan__steps-link--active {
    color: @mid-blue;

    cursor: default;

    &::before {
      background-color: @mid-blue;
    }
  }

  .add-plan__buddy-criteria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .add-plan__buddy-numbers {
    width: 50%;
  }

  .add-plan__intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .add-plan__intro-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .add-plan__steps-list--top {
    display: none;
  }

  .add-plan__next {
    width: 285px;
  }

  .add-plan__next--back {
    background-position: top 50% left 110px;
  }

  .add-plan__desc--shorter {
    width: 440px;
  }

  .add-plan__desc--short {
    width: 500px;
  }

  .add-plan__btns-wrapper--step-2 {
    margin-top: -70px;
  }
}
