.blockquote {
  padding-bottom: 30px;
  padding-top: 20px;

  text-align: left;

  quotes: none;
}

.blockquote__text,
.blockquote__author {
  display: block;
  width: 190px;
  padding-left: 20px;
}

.blockquote__text {
  margin-bottom: 25px;

  font-weight: 300;
}

.blockquote__author {
  font-weight: 700;

  font-style: normal;
}

// @media (min-width: @tablet-width) {
//   .blockquote {
//     margin-top: 0;
//   }
// }

@media (min-width: @desktop-width) {
  .blockquote {
    width: 50%;
  }
}
