.buddies-search {
  position: relative;
  padding-top: 40px;
  padding-bottom: 26px;
  margin-top: -25px;

  background-color: @light-grey;
  // z-index: 2;
}

.buddies-search__container {
  width: 270px;
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 26px;

  color: @mid-blue;

  background-color: @yellow;
  border-radius: 20px;
}

.buddies-search__item,
.buddies-search__transport {
  padding: 10px 0;

  border-top: 1px solid rgba(29, 46, 91, 0.1);
}

.buddies-search__criteria {
  display: flex;
  flex-wrap: wrap;
  align-items: end;

  font-weight: 700;
  text-transform: uppercase;
}

.buddies-search__criteria p {
  padding: 0;
  margin: 0;
}

.buddies-search__filter-btn {
  margin-left: auto;
  width: 20px;
  height: 20px;

  font-size: 0;

  background-color: transparent;
  border: none;
  background-image: url("../../img/dropdown.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.buddies-search__criteria:hover {
  opacity: 0.7;
  cursor: pointer;
}

.buddies-search__criteria:active {
  opacity: 0.3;
}

.buddies-search__inner-wrapper {
  // width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buddies-search__input-wrapper {
  padding-top: 3px;
  padding-bottom: 3px;
}

.buddies-search__item label {
  position: relative;
  padding-left: 30px;

  font-size: 15px;
  line-height: 15px;
  color: #444444;

  cursor: pointer;
}

.buddies-search__item input[type="checkbox"]+label::before,
.buddies-search__item input[type="checkbox"]:checked+label::before {
  content: "";

  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;

  background-color: @white;
  border-radius: 4px;
}

.buddies-search__item input[type="checkbox"]:checked+label::before {
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

.buddies-search__item input[type="checkbox"]+label:hover,
.buddies-search__item input[type="checkbox"]:checked+label:hover,
.buddies-search__item input[type="checkbox"]+label:hover::before,
.buddies-search__item input[type="checkbox"]:checked+label:hover::before {
  opacity: 0.6;
}

.buddies-search__item input[type="checkbox"]+label:active,
.buddies-search__item input[type="checkbox"]:checked+label:active,
.buddies-search__item input[type="checkbox"]+label:active::before,
.buddies-search__item input[type="checkbox"]:checked+label:active::before {
  opacity: 0.3;
}

.buddies-search__transport .buddies-search__inner-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
}

.buddies-search__transport .buddies-search__input-wrapper {
  padding: 0;
}

.buddies-search__transport .buddies-search__inner-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.buddies-search__transport label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;

  font-size: 0;

  background-color: @white;
  border-radius: 50%;

  cursor: pointer;
}

.buddies-search__transport input[type="checkbox"]+label svg {
  fill: rgba(0, 0, 0, 0.15);
}

.buddies-search__transport input[type="checkbox"]:checked+label svg {
  fill: @mid-blue;
}

.buddies-search__show {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;

  color: @blue;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;

  background-color: @white;
  border: none;
  box-shadow: none;
  border-radius: 20px;

  cursor: pointer;

  &:active {
    color: rgba(22, 28, 53, 0.3);

    background-color: #f3c72b;
  }
}
  .buddies-search__hidden {
    display: none;
  }

@media (min-width: @tablet-width) {
  .buddies-search__container {
    width: 688px;
    padding: 35px;
  }

  .buddies-search__hidden {
    display: inline;
  }

  .buddies-search__title {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }

  .buddies-search__criteria {
    width: 20%;

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    &:hover,
    &:active {
      opacity: 1;
      cursor: default;
    }
  }

  .buddies-search__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border: none;
  }

  .buddies-search__input-wrapper {
    width: 33%;
  }

  .buddies-search__item label {
    padding-left: 35px;

    font-size: 20px;
    line-height: 20px;
  }

  .buddies-search__item input[type="checkbox"] + label::before,
  .buddies-search__item input[type="checkbox"]:checked + label::before {
    width: 24px;
    height: 24px;
  }

  .buddies-search__item input[type="checkbox"]:checked + label::before {
    background-size: 12px;
  }

  .buddies-search__inner-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0;

  }

  .buddies-search__filter-btn {
    display: none;
  }

  .buddies-search__transport {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border: none;
  }

  .buddies-search__input-wrapper {
    padding: 0;
  }

  .buddies-search__transport .buddies-search__input-wrapper,
  .buddies-search__transport label {
    width: 43px;
    height: 43px;
  }

  .buddies-search__transport svg {
    width: 19px;
    height: 21px;
  }

  .buddies-search__transport .buddies-search__input-wrapper {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .buddies-search__transport .buddies-search__inner-wrapper {
    padding: 0;
  }

  .buddies-search__show {
    padding: 10px 15px;

    font-size: 20px;
    line-height: 30px;

    border-radius: 25px;
  }

  .buddies__search-global-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 30px;

    border-bottom: 1px solid #f3c72b;
    border-top: 1px solid #f3c72b;
  }
}

@media (min-width: @desktop-width) {
  .buddies-search__container {
    width: 285px;
    padding: 45px;
  }

  .buddies-search {
    margin-top: 0;
  }

  .buddies-search__inner-wrapper {
    width: 100%;
    flex-direction: column;
    flex-grow: 0;
  }

  .buddies-search__input-wrapper {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .buddies-search__filter-btn {
    display: block;

    background-size: 10px;
  }

  .buddies-search__criteria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .buddies-search__criteria:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .buddies-search__criteria:active {
    opacity: 0.3;
  }

  .buddies-search__hidden {
    display: none;
  }

  .buddies__search-global-wrapper {
    margin: 0;

    border: none;
  }

  .buddies-search__transport .buddies-search__input-wrapper {
    margin-right: 0;
  }
}
