.buddies-search {
  padding-top: 26px;
  padding-bottom: 26px;

  background-color: @light-grey;
}

.buddies-search__container {
  width: 270px;
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 26px;

  color: @mid-blue;

  background-color: @yellow;
  border-radius: 20px;
}

.buddies-search__criteria {
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .buddies-search__container {
    width: 688px;
  }
}

@media (min-width: @desktop-width) {
  .buddies-search__container {
    width: 270px;
  }
}
