.contacts__questions {
  font-weight: 300;
}

.contacts__tel,
.contacts__email {
  color: @yellow;
  font-weight: 700;
  font-size: 0;

  text-transform: uppercase;
  text-decoration: none;
}

.contacts__login {
  display: inline-block;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
