.contacts__questions {
  font-weight: 300;
  margin-bottom: 40px;
}

.contacts--header {
  margin-bottom: 55px;
}

.contacts--header .contacts__btn--tel,
.contacts--header .contacts__btn--email {
  position: relative;
  padding-left: 50px;

  color: @blue;
  font-size: 16px;

  &::before {
    content: "";

    width: 40px;
    height: 40px;
    position: absolute;
    top: -50%;
    left: 0;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    background-color: @dark-blue;
    background-size: 20px;
  }
}

.contacts--header .contacts__btn--tel::before {
  background-image: url("../../img/contacts-phone.svg");
}

.contacts--header .contacts__btn--email::before {
  background-image: url("../../img/contacts-mail.svg");
}

.contacts--header .contacts__btn--tel {
  margin-bottom: 18px;
}

.contacts__btn {
  color: @yellow;
  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;
}

.contacts--main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

// .contacts--main .contacts__btn--tel,
// .contacts--main .contacts__btn--email {
//   font-size: 0;
// }

.contacts--main .contacts__btn--login {
  flex-grow: 1;

  font-size: 17px;
  line-height: 30px;
  color: @dark-blue;

  &:hover {
    background-color: @orange;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);

    background-image: none;
  }
}

.contacts--main .contacts__btn--tel,
.contacts--main .contacts__btn--email {
  position: relative;
  width: 40px;
  height: 40px;

  font-size: 0;

  border-radius: 50%;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.contacts--main .contacts__btn--tel {
  background-color: @dark-orange;

  &:hover {
    background-color: #f26926;
  }

  &::before {
    width: 18px;
    height: 18px;
    margin-top: -9px;
    margin-left: -9px;

    background-image: url("../../img/topmenu-phone.svg");
  }
}

.contacts--main .contacts__btn--email {
  background-color: @orange;

  &:hover {
    background-color: @dark-orange;
  }

  &::before {
    width: 18px;
    height: 14px;
    margin-top: -7px;
    margin-left: -9px;

    background-image: url("../../img/topmenu-mail.svg");
  }
}

.contacts--main .contacts__btn--tel:active,
.contacts--main .contacts__btn--email:active {
  &::before {
    opacity: 0.3;
  }
}

.contacts--sign-up .contacts__btn--email,
.contacts--sign-up .contacts__btn--tel {
  display: block;


}
  .contacts--sign-up .contacts__btn--tel,
  .contacts--sign-up .contacts__btn--email {
    position: relative;
    padding-left: 50px;

    color: @yellow;
    font-size: 16px;
    text-align: left;

    &::before {
      content: "";

      width: 40px;
      height: 40px;
      position: absolute;
      top: -50%;
      left: 0;

      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 50%;
      background-color: @dark-blue;
      background-size: 20px;
    }
  }

  .contacts--sign-up .contacts__btn--tel::before {
    background-image: url("../../img/contacts-phone.svg");
  }

  .contacts--sign-up .contacts__btn--email::before {
    background-image: url("../../img/contacts-mail.svg");
  }

  .contacts--sign-up .contacts__btn--tel:hover,
  .contacts--sign-up .contacts__btn--email:hover {
    color: @orange;
  }

  .contacts--sign-up .contacts__btn--tel:hover::before {
    background-image: url("../../img/contacts-phone-mango.svg");
  }

  .contacts--sign-up .contacts__btn--email:hover::before {
    background-image: url("../../img/contacts-mail-mango.svg");
  }

  .contacts--sign-up .contacts__btn--tel:active,
  .contacts--sign-up .contacts__btn--email:active {
    color: rgba(255, 189, 48, 0.3);
  }

  .contacts--sign-up .contacts__btn--email:active::before {
    background-image: url("../../img/contacts-mail-mango-opacity.svg");
  }

  .contacts--sign-up .contacts__btn--tel:active::before {
    background-image: url("../../img/contacts-phone-mango-opacity.svg");
  }

  .contacts--sign-up .contacts__btn--tel {
    margin-bottom: 18px;
  }

@media (min-width: @tablet-width) {
  .contacts--main {
    display: none;
  }

  .contacts--sign-up .contacts__questions {
    font-size: 28px;
    line-height: 33px;
    margin-top: 55px;
    margin-bottom: 65px;
  }

  .contacts--header .contacts__btn--tel,
  .contacts--header .contacts__btn--email,
  .contacts--sign-up .contacts__btn--tel,
  .contacts--sign-up .contacts__btn--email {
    font-size: 28px;
    line-height: 28px;
    padding-left: 90px;

    &::before {
      width: 67px;
      height: 67px;
      top: -20px;


      background-size: 25px;
    }
  }

  .contacts--header .contacts__btn--tel,
  .contacts--sign-up .contacts__btn--tel {
    margin-bottom: 38px;
  }
}

@media (min-width: @desktop-width) {
  .contacts--header {
    margin-bottom: 0;
    margin-left: auto;
  }

  .contacts--header .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .contacts--header .contacts__btn--tel,
  .contacts--header .contacts__btn--email {
    position: relative;
    width: 40px;
    height: 40px;
    padding-left: 0;
    display: flex;
    margin-bottom: 0;

    color: @orange;
    font-size: 0;

    &::before {
      content: "";

      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;

      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 50%;
      background-color: @orange;
      background-size: 20px;
    }
  }

  .contacts--header .contacts__btn--tel::before {
    background-image: url("../../img/topmenu-phone.svg");
  }

  .contacts--header .contacts__btn--email::before {
    background-image: url("../../img/topmenu-mail.svg");
  }
}
