.continents-list {
  .nolist();
}

.continents-list__item {
  text-transform: uppercase;
  color: rgba(25, 33, 68, 0.3);
  font-weight: 700;

  &--active {
    color: @blue;
  }
}

// @media (min-width: @tablet-width) {
//   .continents-list {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 420px;
//     justify-content: space-between;
//   }
// }
