.countries-select__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: "";

    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    top: 17px;
    left: 164px;

    background-color: @mid-blue;
    border-radius: 50%;
  }

  &--empty::before,
  &--add::before {
    border: solid 1px #cbced9;
    background-color: transparent;
  }

  &::after {
    content: "";

    position: absolute;
    display: block;
    width: 5px;
    height: 10px;
    top: 47px;
    right: 50px;

    background-image: url("../img/small-arrow.svg");
    background-size: 5px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
  }

  &:last-child::after {
    display: none;
  }
}

.countries-select__choose-country {
  width: 168px;
  height: 42px;
  padding-right: 30px;
  padding-left: 10px;

  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  border: solid 1px #cbced9;
  border-radius: 4px;
  background-image: url("../img/dropdown-form.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right 10px center;

  &:hover {
    border: solid 1px #959bb2;
    background-image: url("../img/dropdown-form-opacity.svg");
  }
}

.countries-select__item--empty .countries-select__choose-country {
  width: 100%;

  cursor: pointer;
}

.countries-select__add-country {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 42px;
  padding-right: 10px;

  color: @mid-blue;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  border-radius: 4px;
  border: none;
  box-shadow: none;
  background-color: #edeff6;
  cursor: pointer;

  &:hover {
    background-color: #dfe3f0;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

.countries-select__add-country svg {
  fill: rgba(0, 0, 0, 0.2);
}

.countries-select__delete:hover svg,
.countries-select__add-country:hover svg {
  fill: rgba(0, 0, 0, 0.4);
}

.countries-select__delete:active svg,
.countries-select__add-country:active svg {
  fill: rgba(0, 0, 0, 0.1);
}

.countries-select__flag-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 42px;

  border: solid 1px #cbced9;
  border-left: none;
  border-radius: 4px;
}

.countries-select__flag-wrapper img {
  display: block;
  margin: 0 auto;
}

.countries-select__delete {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 21px;
  height: 21px;
  padding: 0;

  font-size: 0;

  box-shadow: none;
  border: none;
  background-color: @light-grey;
  border-radius: 50%;
  cursor: pointer;
}

.countries-select__delete svg {
  fill: rgba(0, 0, 0, 0.3);
}

@media (min-width: @tablet-width) {
  .countries-select {
    position: relative;
    padding-top: 35px;
    padding-bottom: 50px;

    border-top: 1px solid #d6d9e6;

    &::before {
      content: "";

      position: absolute;
      display: block;
      width: 1px;
      height: 100%;
      top: 0;
      right: 135px;

      background: linear-gradient(to bottom, #d6d9e6 80%, rgba(255, 255, 255, 0.2) 100%);
    }

    &::after {
      content: "";

      display: block;
      height: 10%;
      left: 0;
      position: absolute;
      bottom: 0;
      width: 100%;

      z-index: 10;
    }
  }

  .countries-select__choose-country,
  .countries-select__add-country {
    width: 370px;
    height: 70px;
    padding-left: 25px;

    letter-spacing: 2px;
    font-size: 20px;
    line-height: 18px;

    background-size: 17px;
    background-position: right 25px center;
  }

  .countries-select__item--empty .countries-select__choose-country {
    width: 370px;
  }

  .countries-select__flag-wrapper {
    width: 70px;
    margin-left: auto;
    margin-right: 20px;

    border: none;
  }

  .countries-select__flag-wrapper img {
    width: 70px;
    height: 47px;
  }

  .countries-select__delete {
    position: static;

    background-color: transparent;
  }

  .countries-select__delete svg {
    width: 17px;
    height: 17px;

    opacity: 0.4;
  }

  .countries-select__item--empty {
    justify-content: space-between;
  }

  .countries-select__item::before {
    width: 15px;
    height: 15px;
    left: 385px;
    top: 26px;
  }

  .countries-select__item::after {
    display: none;
  }

  .countries-select__item--empty::before {
    background-color: @white;
  }

  .countries-select__item--add::before {
    background-color: #edeff6;
  }

  .countries-select__item:last-child {
    margin-bottom: 0;
  }

  .countries-select__add-country {
    padding-right: 25px;
  }

  .countries-select__add-country svg {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .countries-select__choose-country,
  .countries-select__add-country,
  .countries-select__item--empty .countries-select__choose-country {
    width: 730px;
  }

  .countries-select__item::before {
    left: 770px;
  }

  .countries-select::before {
    left: 777px;
  }

  .countries-select {
    padding-bottom: 120px;
  }
}
