.country-filter {
  background-color: #e2e5f2;
}

.country-filter__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  color: @blue;
}

.country-filter__letters {
  color: @mid-blue;
}
