.destinations__global-container {
  position: relative;
  padding-bottom: 100px;
  padding-top: 95px;
}

.destinations {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // padding-top: 60px;
  margin-top: -40px;

  color: @dark-grey;

  background-color: @light-grey;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  z-index: 5;
}

.destinations__container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.destinations__item {
  // position: relative;
  margin-bottom: 10px;

  border-radius: 10px;
  overflow: hidden;
}

.destinations__item:last-child .destinations__wrapper::after {
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;

  background: transparent;
  background: linear-gradient(to top, rgba(237, 239, 246, 0.9) 20%, rgba(255, 255, 255, 0.2) 90%);
}

.destinations__title {
  .title();
}

.destinations__desc {
  width: 200px;

  font-weight: 300;
}

.destinations__wrapper {
  padding: 25px;
  margin-top: -10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  background-color: @white;
  border-radius: 10px;
  z-index: 10;
}

.destinations__country-image {
  display: flex;
}

.destinations__country {
  margin: 0;
  padding: 0;

  color: @dark-blue;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.destinations__flags {
  position: absolute;
  top: -10px;
  left: 25px;

  z-index: 20;
}

.destinations__slogan,
.destinations__visitors {
  margin: 0;
  padding: 0;

  color: rgba(68, 68, 68, 0.3);
  font-weight: 500;
}

.destinations__visitors {
  margin-left: auto;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: -20px;
    width: 11px;
    height: 11px;
    background-image: url("../../img/user.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.destinations__show-all {
  position: absolute;
  width: 270px;
  display: block;
  margin-bottom: 30px;
  bottom: 0;
  left: 25px;
}

@media (min-width: @tablet-width) {
  .destinations__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .destinations__wrapper {
    flex-grow: 1;
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .destinations__global-container {
    display: flex;
    flex-wrap: wrap;
  }

  .destinations__container {
    width: 50%;
    order: 2;
  }

  .destinations__articles-container {
    width: 50%;
    order: 1;
  }

  .destinations__show-all {
    position: static;
    order: 3;
  }
}
