.howitworks {
  padding-bottom: 40px;

  background-color: @blue;
}

.howitworks__list {
  display: flex;
  flex-wrap: wrap;

  .nolist();
}

.howitworks__item {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @dark-blue;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 90px;

  &--step1 {
    background-color: @dark-orange;
  }

  &--step2 {
    background-color: @mid-orange;
  }

  &--step3 {
    background-color: @orange;
  }

  &--step4 {
    background-color: @yellow;
  }
}

@media (min-width: @tablet-width) {
  .howitworks {
    background-color: transparent;
    margin-bottom: 80px;
  }

  .howitworks__item {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .howitworks__item {
    width: 25%;
  }
}
