.howitworks {
  padding-bottom: 20px;

  background-color: @blue;
}

.howitworks__container {
  border-radius: 10px;
  overflow: hidden;
}

.howitworks__list {
  display: flex;
  flex-wrap: wrap;

  .nolist();
}

.howitworks__item {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @dark-blue;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 30px;
  padding-right: 90px;
  margin-top: -10px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &:last-child {
    padding-bottom: 25px;
  }

  &--step1 {
    background-color: @dark-orange;
  }

  &--step2 {
    background-color: @mid-orange;
  }

  &--step3 {
    background-color: @orange;
  }

  &--step4 {
    background-color: @yellow;
  }

  &::before {
    content: "";

    position: absolute;
    right: 23px;
    top: 23px;

    color: @white;
  }
}

.howitworks__item--step1::before {
  content: "1";
}

.howitworks__item--step2::before {
  content: "2";
}

.howitworks__item--step3::before {
  content: "3";
}

.howitworks__item--step4::before {
  content: "4";
}

@media (min-width: @tablet-width) {
  .howitworks {
    background-color: transparent;
    margin-bottom: 80px;
  }

  .howitworks__container {
    border-radius: 20px;
  }

  .howitworks__item {
    width: 50%;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 60px;
    margin: 0;

    font-size: 24px;
    line-height: 24px;

    border-radius: 0;

    &:nth-child(even) {
      margin-left: -20px;
      flex-grow: 1;
    }

    &::before {
      left: 30px;
      top: 90px;

      font-size: 30px;
    }
  }

  .howitworks__item__span {
    width: 200px;
  }

  .howitworks__item--step2 {
    border-top-left-radius: 20px;
  }

  .howitworks__item--step4 {
    border-bottom-left-radius: 20px;
  }

}

@media (min-width: @desktop-width) {
  .howitworks__item {
    width: 25%;
  }
}
