.nav {
  background-color: @white;
}

.nav__item {
  margin-bottom: 60px;

  color: @blue;
}

.nav__container {
  padding-bottom: 40px;
  padding-top: 60px;
}


@media (min-width: @desktop-width) {
  .nav {
    background-color: transparent;
  }

  .nav__item {
    margin-bottom: 0;
  }
}
