.page-footer {
  padding-top: 35px;
  padding-bottom: 25px;

  color: @dark-grey;

  background-color: @white;
}

@media (min-width: @tablet-width) {
  .page-footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
