.plan {
  position: absolute;
  top: 48%;
  left: 50%;
  display: none;
  width: 270px;

  color: #444444;
  font-weight: 300;

  background-color: @white;
  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);

  transform: translate(-50%, -50%);
  overflow: hidden;
}

.plan--open {
  display: block;
}

.plan__container {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
}

.plan__list {
  .nolist();
}

.plan__title {
  .title();
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  text-align: center;
}

.plan__option,
.plan__price {
  margin: 0;
  padding: 0;
}

.plan__item {
  padding-top: 10px;
  padding-bottom: 10px;

  border-top: 1px solid rgba(0, 0, 0, 0.05);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
  }
}

.plan__close {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  color: @mid-blue;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  background-color: #f3f4f8;
  border: none;
  box-shadow: none;

  cursor: pointer;

  &:hover {
    background-color: #edeff6;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .plan {
    top: 940px;
    left: 50%;
    width: 688px;

    border-radius: 30px;

    transform: translate(-50%, -50%);
  }

  .plan__container {
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
  }

  .plan__title {
    margin-bottom: 50px;
  }

  .plan__list {
    font-size: 22px;
    line-height: 28px;
  }

  .plan__item {
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .plan__close {
    padding-top: 40px;
    padding-bottom: 40px;

    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }
}

@media (min-width: @desktop-width) {
  .plan {
    top: 52%;
    left: 50%;
    width: 750px;

    border-radius: 30px;

    transform: translate(-50%, -50%);
  }

  .plan__container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
