.sign-up {
  text-align: center;
}

.sign-up__title {
  .title();
}

.sign-up__desc {
  font-weight: 300;
}

.sign-up__login {
  color: @yellow;

  &:hover {
    color: @orange;
  }

  &:active {
    color: rgba(255, 141, 48, 0.3);
  }
}
