.sign-up {
  text-align: center;
}

.sign-up__title {
  .title();
}

.sign-up__desc {
  font-weight: 300;
}

.sign-up__form {
  display: flex;
}

.sign-up__email {
  width: 220px;
  padding: 21px 21px;

  color: rgba(68, 68, 68, 0.3);
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
  border: none;
}

.sign-up__button {
  width: 60px;
  margin-left: -15px;

  font-size: 0;

  border: none;
  background-position: center center;
}

.sign-up__login {
  color: @yellow;

  &:hover {
    color: @orange;
  }

  &:active {
    color: rgba(255, 141, 48, 0.3);
  }
}

.sign-up__container {
  padding-top: 60px;
  padding-bottom: 30px;
}
