.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .nolist();

  text-align: center;
}

.site-list__link {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  color: @blue;
  text-transform: uppercase;

  text-decoration: none;

  &:hover {
    color: @yellow;
  }

  &:active {
    color:rgba(255, 215, 75, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    align-items: flex-start;
    padding-left: 60px;
  }

  .site-list__link {
    font-size: 60px;
    line-height: 71px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__link {
    display: inline-block;
    color: @white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 35px;
    overflow: hidden;
  }

  .site-list__hover {
    display: inline-block;
    position: relative;
    transition: transform 0.3s;

    &::before {
      content: "";

      position: absolute;
      display: block;
      height: 20px;
      top: 100%;
    }

    &--about::before {
      content: "О сервисе";
    }

    &--destinations::before {
      content: "Направления";
    }

    &--buddies::before {
      content: "Попутчики";
    }
  }

  .site-list__link:hover span {
    transform: translateY(-100%);
  }
}
