.social {
  .nolist();
}

.social--header .social__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.social--footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 33px;
}

.social--footer .social__link {
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;

  background-color: @yellow;
  border-radius: 50%;

  &:hover {
    background-color: @blue;
  }

  &:hover svg,
  &:hover .social__ig-svg {
    fill: @white;
  }

  &:active svg,
  &:active .social__ig-svg {
    opacity: 0.3;
  }
}

.social--footer svg {
  fill: @blue;
}

@media (min-width: @tablet-width) {
  .social--footer .social__link {
    width: 60px;
    height: 60px;
  }

  .social--footer {
    width: 183px;
    margin-bottom: 0;
    margin-left: 87px;
  }

  .social--header {
    align-items: center;
  }

  .social--header svg {
    width: 24px;
    height: 24px;
  }

  .social--footer svg {
    width: 24px;
    height: 24px;
  }

  .social__link--vkontakte svg {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .social--footer {
    margin-left: 370px;
  }
}
