.transport-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.transport-list__item--active svg {
  fill: @mid-blue;
}

.transport-list__item--inactive svg {
  fill: rgba(0, 0, 0, 0.15);
}

.transport-list__item {
  position: relative;
  margin-right: 10px;

  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover .transport-list__tooltip {
    display: block;
  }
}

.transport-list__item--bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;

  background-color: #edeff6;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .transport-list__item--bg {
    background-color: transparent;
  }

  .transport-list__item--bg svg {
    width: 20px;
    height: 20px;
  }
}
