.trip-details {
  margin-bottom: 30px;
}

.trip-details__inner-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.trip-details__persons,
.trip-details__days {
  margin-left: auto;

  color: rgba(29, 46, 91, 0.3);
}

.trip-details__days,
.trip-details__persons,
.trip-details__buddies,
.trip-details__lenth {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.trip-details__buddies,
.trip-details__lenth {
  color: @mid-blue;
}

.trip-details__input-wrapper {
  width: 100%;
  height: 42px;
  display: flex;
  // flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
  // padding-right: 10px;
  // padding-left: 10px;

  border-radius: 4px;
  border: solid 1px #cbced9;

  &:hover {
    border: solid 1px #959bb2;
  }

  &:active {
    border: solid 1px #161c35;
  }
}

.trip-details__input-wrapper input {
  width: 140px;
}

.trip-details__input-wrapper .trip-details__btn {
  width: 40px;
  height: 40px;
  display: block;
  // padding: 0;

  font-size: 0;

  background-color: transparent;
  border: none;
  box-shadow: none;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;

  cursor: pointer;

  &--plus {
    background-image: url("../img/qty-plus.svg");
  }

  &--minus {
    background-image: url("../img/qty-minus.svg");
  }

  &--plus:hover,
  &--minus:hover {
    opacity: 0.8;
  }

  &--plus:active,
  &--minus:active {
    opacity: 0.1;
  }
}

.trip-details__input-wrapper input {
  text-align: center;
  font-size: 15px;
  line-height: 14px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: @mid-blue;

  // appearance: textfield;
  border: none;
  background-color: transparent;
}

// .trip-details__children {
//   display: flex;
//   flex-wrap: wrap;
//   align-content: center;
//   align-items: center;
// }

.trip-details__children label {
  position: relative;
  padding-left: 40px;

  font-size: 15px;
  line-height: 15px;
  color: #444444;

  cursor: pointer;
}

.trip-details__children input[type="checkbox"] + label::before,
.trip-details__children input[type="checkbox"]:checked + label::before {
  content: "";

  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  top: -6px;
  left: 0;

  background-color: @white;
  border-radius: 4px;
  border: solid 1px #cbced9;
}

.trip-details__children input[type="checkbox"]:checked + label::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

.trip-details__children input[type="checkbox"] + label:hover::before,
.trip-details__children input[type="checkbox"]:checked + label:hover::before {
  border: solid 1px #959bb2;
}

.trip-details__children input[type="checkbox"] + label:active::before,
.trip-details__children input[type="checkbox"]:checked + label:active::before {
  background-color: #e2e5f1;
  background-image: url("../img/tick-opacity.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .trip-details {
    display: flex;
    flex-wrap: wrap;
  }

  .trip-details__inner-wrapper {
    width: 100%;
  }

  .trip-details__input-wrapper {
    height: 70px;
    justify-content: space-between;
    align-items: center;
  }

  .trip-details__input-wrapper input {
    font-size: 20px;
    line-height: 18px;
  }

  .trip-details__input-wrapper .trip-details__btn {
    width: 70px;
    height: 70px;

    background-size: 20px;
  }

  .trip-details__inner-wrapper--duration {
    order: 1;
  }

  .trip-details__inner-wrapper--buddies {
    padding-top: 20px;
    margin-bottom: 0;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .trip-details__days,
  .trip-details__persons,
  .trip-details__buddies,
  .trip-details__lenth,
  .trip-details__children label {
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .trip-details__children {
    width: 100%;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .trip-details__children label {
    padding-left: 50px;

    text-transform: uppercase;
    color: @mid-blue;
  }

  .trip-details__children input[type="checkbox"] + label::before,
  .trip-details__children input[type="checkbox"]:checked + label::before {
    width: 36px;
    height: 36px;
    top: -8px;
  }

  .trip-details__children input[type="checkbox"]:checked + label::before {
    background-size: 12px;
  }

  .trip-details__children input[type="checkbox"] + label:active::before,
  .trip-details__children input[type="checkbox"]:checked + label:active::before {
    background-size: 12px;
  }
}

@media (min-width: @desktop-width) {
  .trip-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .trip-details__children {
    width: 50%;
    margin-left: auto;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

    text-align: right;

    border: none;
  }

  .trip-details__inner-wrapper {
    width: 50%;
    align-items: center;
    justify-content: flex-start;
  }

  .trip-details__inner-wrapper--buddies {
    padding-top: 0;

    border: none;
  }

  .trip-details__inner-wrapper--buddies {
    margin-bottom: 15px;
  }

  .trip-details__input-wrapper {
    width: 180px;
    margin: 0;
    margin-right: 30px;
  }

  .trip-details__days,
  .trip-details__persons {
    margin-left: 0;
    order: 2;

    color: @mid-blue;
  }

  .trip-details__input-wrapper input {
    width: 100px;
  }

  .trip-details__buddies,
  .trip-details__lenth {
    width: 45%;
  }
}
